
/* Base Styles --------------------- */

* {
	box-sizing: border-box;
  margin: 0 auto;  
}

/* Main Styles --------------------- */

/* main heading style */
.main-heading {
    padding-top: 30px;
    height: 300px;
    text-align: center;
    background: linear-gradient(#000000, transparent 90%),
                linear-gradient(0deg, #fff, transparent),
                url('../img/weddingmusic2.png') no-repeat center;
    background-size: cover;
  }

  .side {
    padding: 10px 0 20px 0;
    font-size: 2em;
    color: white;
  }
  
  .center {
    font: 3em 'Great Vibes', Helvetica, sans-serif;
    color: white;
  }

/* main body style */

  .main-body {
    text-align: center;
  }

  .vocalist {
    max-width: 80%;
    border-radius: 50px;
    opacity: 0.8;
  }

  .quote {
    max-width: 17%;
    border-style: none;
    padding-top: 20px;
  }


  h1 {
    font: 2em 'Great Vibes', Helvetica, sans-serif;
    color: #565759;
    font-weight: bold;
  }

  p {
    color: #565759;
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
  }

/* phone # and form style */

input[type="text"],
input[type="email"],
textarea,
select,
.phone {
  width: 50%;
  border-radius: 10px;
  background-color: #49579c;
  opacity: 0.7;
  font-size: 16px;
  color: white;
  border: none;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  margin-bottom: 20px;
}

::placeholder { 
  color: white;
}

.inputBgOpaque:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #b6bbc4 inset;
}

/* button style */

button {
  padding: 10px 20px 10px 20px;
  width: 30%;
  border-radius: 10px;
  text-align: center;
  /* margin-left: 35px; */
  margin-bottom: 10px;
  background-color: #b6bbc4;
  opacity: 0.6;
  color: black;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
}


.main-footer {
	background: linear-gradient(white, #A9A9A9);
	background-size: cover;
	color: white;
	text-align: center;
	padding: 3em 0 1.5em 0;
	margin-top: 50px;
}

/* Media Queries------------------- */

/* small screens */
@media (min-width: 400px) {
  .main-heading {
    display: flex;
    padding-top: 60px;
    height: 250px;
    background: linear-gradient(#000000, transparent 90%),
                linear-gradient(0deg, #fff, transparent),
                url('../img/weddingmusic1.jpg') no-repeat center;
    background-size: cover;
  }
} /* media query end 400px */

/* medium screens */
@media (min-width: 700px) {
  .main-heading {
    display: flex;
    padding-top: 90px;
    height: 275px;
    background: linear-gradient(#000000, transparent 90%),
                linear-gradient(0deg, #fff, transparent),
                url('../img/weddingmusic4.jpg') no-repeat center;
    background-size: cover;
  }

  .main-body {
    padding-top: 50px;
    width: 90%;
  }

 /* 2 columns */

  .col {
    float: left;
    width: 50%;
    padding-right: 4em;
  }

} /* media query end 700px */

/* larger screens screen */
@media (min-width: 1025px) {
  .main-heading {
    display: flex;
    padding-top: 100px;
    height: 300px;
    font-size: 1.75em;
    background: linear-gradient(#000000, transparent 90%),
                linear-gradient(0deg, #fff, transparent),
                url('../img/weddingmusic4.jpg') no-repeat center;
    background-size: cover;
  }

  .main-body {
    padding-top: 100px;
    width: 80%;
  }

} /*  media query end 1025px */

/* ---- Float clearfix ---- */
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}